*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-item{
    grid-area: sidebar;
    background-color: white;
    min-height: 300vh;
    padding: 20px;
    width: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.home{
  font-size: 25px;
}
.calendar{
  font-size: 25px;
}
.second-item{
    grid-area: mainbar;
    margin-right: 83px;
}
.grid-king{
    display: grid;
    grid-template-areas: 
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar"
    "sidebar mainbar mainbar mainbar mainbar mainbar";
}
.item-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color: #858585;
  
  }

  .item-menus p {
    font-size: 14px;
  }
  .item-menus div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-head {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding: 15px;
    height: 65px;
    align-items: center;
    background-color: #ffffff;
    width: 89vw;
  }
  .welcome-texts {
    /* background-color: white; */
    /* width: 470px; */
    /* height: 100px; */
    padding: 20px;
    margin-top: 40px;
    margin-left: -120px;

  }
  .welcome-texts h4 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .upcoming {
    margin-top: 40px;
    margin-left: -100px;
  }
  .upcoming h3 {
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
    font-size: 20px;
  }
  .hrz {
    max-width: 98%;
    margin-top: 20px;
  }
  .patient-status{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn7{
      width: 80px;
height: 30px;
background-color: #00B4D8;
border: none;
border-radius: 5px;
color: #ffff;
font-family: "Poppins", sans-serif;
font-weight: 500;
cursor: pointer;
  }
  .btn7:hover{
    background-color: #55CDE5
    ;
  }
  .btn8:hover{
   border: 2px solid #55CDE5
    ;
  }
  .btn8{
    width: 80px;
    height: 30px;
    background-color: #ffff;
    border: 2px solid #00B4D8;
    border-radius: 5px;
    color: #00B4D8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  .vertical-line1 {
    border-left: 1.5px solid #e2e2e2; 
    height: 100px; 
    margin: 0 -115px; 
    position: relative; 
  }
  .vertical-line3 {
    border-left: 1.5px solid #e2e2e2; 
    height: 100px; 
    margin: 0px; 
    position: relative; 
  }
  .btn9{
    width: 105px;
height: 37px;
background-color: #00B4D8;
border: none;
border-radius: 5px;
color: #ffff;
font-family: "Poppins", sans-serif;
font-weight: 500;
cursor: pointer;
}
.btn9:hover{
  background-color: #55CDE5
  ;
}
.home.active{
  color: #00B4D8;
  font-weight: bold;
}
.calendar.active{
  color:#00B4D8;
  font-weight: bold;
}
.view-all-btn2{
  float: right;
  position: relative;
  left: -70px;
  top: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-weight: 500;
  color: #00b4d8;
  font-size: 18px;
}
.badge-count {
  background-color: #00B4D8;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  width: 27px;
  height: 27px;
  font-size: 12px;
  margin-left: 30px;
  display: inline-block;
}
@media (max-width: 768px){
  .grid-king{
    display: grid;
    grid-template-areas: 
    "mainbar mainbar mainbar mainbar mainbar mainbar"
    "mainbar   mainbar mainbar mainbar mainbar mainbar"
    "sidebar sidebar sidebar sidebar sidebar sidebar";
}
}