.footer-container {
  background-color: #005A6C;
  padding: 80px 0px;
  color: #ffff;
  margin-top: 40px;
}
.doc-image {
  width: 154px;
  height: 40.7px;
}
.first-footer {
  width: 203px;
}
.first-footer p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.footers {
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;
}
.icons {
  margin-top: 20px;
  font-size: 24px;
  display: flex;
  gap: 20px;
}
.footer-list{
    margin-top: 20px;
}
.footer-list li{
    margin-top: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}
.footer-lists{
    margin-top: 20px; 
}

.footer-lists li{
    margin-top: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 20px;
}

.line{
  margin-left: 16.9%;
  margin-top: 80px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
@media only screen and (min-width: 2560px){
  .footers{
margin: 0 1000px;
  }

}
@media only screen and (max-width: 768px){
  .footer-container {
    background-color: #005A6C;
    color: #ffff;
    width: 488px;
    
  }
  .footers {
    margin: 0px 30px;
  flex-direction: column;
    /* justify-content: space-between; */
  }
  .line{
  width: 260px;
  }
  .second-footer{
    position: relative;
    top: 40px;
  }
  .third-footer{
    position: relative;
    top: -190px;
    left: 240px;
  }
  .fourth-footer{
    position: relative;
top: -40px;
  }
  .copyright{
    position: relative;
    right: 20px;
  }
  .footer-list li{
    font-size: 12px;
  }
  .footer-lists li{
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px){
  .second-footer{
    position: relative;
    top: 40px;
  }
  .third-footer{
    position: relative;
    top: -190px;
    left: 240px;
  }
  .fourth-footer{
    position: relative;
top: -40px;
  }
  .copyright{
    position: relative;
    right: 20px;
  }
  .footer-list li{
    font-size: 12px;
  }
  .footer-lists li{
    font-size: 12px;
  }
}