* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #f4f4f4;
}
/* From Uiverse.io by ahmedyasserdev */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease;
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Above header designs */
.call-linelist {
  background-color: #005a6c;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 7%;
}

.phone {
  width: 15px;
  margin-right: 12px;
}

/* Hero container designs */
.hero-sec {
  margin: 0 7%;
}
/* navbar designs */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  color: #6d6d6d;
}

.doclogo {
  width: 150px;
}

.navlink {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navlink li {
  list-style: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 87px;
  height: 38px;
  text-align: center;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn1:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.btn2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 87px;
  font-size: 16px;
  height: 38px;
  text-align: center;
  border: 2px solid #00b4d8;
  background-color: #ffff;
  color: #00b4d8;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover {
  border: 2px solid #55cde5;
  color: #55cde5;
  transition: 0.3s ease-in-out;
}

/* hero designs */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero section left */
.hero-text {
  width: 40%;
}

.hero-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 56.2px;
  color: #003c48;
  /* text-align: justify; */
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  color: #6d6d6d;
  text-align: justify;
}
.btn3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 225px;
  height: 56px;
  border: none;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  /* border: 2px solid #00b4d8; */
  border-radius: 5px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn3:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.arrow {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* hero section right */
.hero-img {
  width: 60%;
  text-align: right;
}

.hero-img img {
  width: 636.06px;
}

/* Main designs */
.body-container {
  background-color: #f4f4f4;
}

/* about us designs */
.about-us {
  background-image: url("./assets/aboutusbg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 150px 7% 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* about us left designs */
.about-text {
  text-align: left;
  /* width: 464px; */
  width: 40%;
}

.about-text h2 {
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.about-text p {
  margin-top: 36px;
  color: #6d6d6d;
  font-size: 18px;
  text-align: justify;
}

/* about us right designs */
.missions {
  display: flex;
  gap: 90px;
  margin-left: 70px;
  width: 60%;
  /* font-weight: 500px; */
}

/* our mission design */
.our-mission {
  text-align: center;
  width: 50%;
}
.our-mission h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-mission p {
  font-size: 18px;
  color: #6d6d6d;
  margin-top: 30px;
}

/* our vision design */
.our-vision {
  text-align: center;
  width: 50%;
}
.our-vision h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-vision p {
  margin-top: 30px;
  font-size: 18px;
  color: #6d6d6d;
}
.miss-vision {
  width: 112px;
  height: 144px;
}

/* Benefits container designs */
.benefit-container {
  padding: 150px 7%;
}

.benefit-text h2 {
  text-align: center;
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.benefit-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 50px;
  padding-bottom: 10px;
}

.benefit-cards {
  background-color: white;
  /* width: 312px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.benefit-cards img {
  margin: 0 auto;
}

.benefit-cards h3 {
  margin-top: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.benefit-cards p {
  margin-top: 20px;
  text-align: justify;
  font-size: 15px;
}

/* Rating container designs */
.ratings-container {
  padding: 60px 7%;
  background-color: #ccf0f7;
  text-align: center;
}

.ratings-text {
  text-align: center;
}

.ratings-text h2 {
  text-align: center;
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.ratings-text p {
  font-weight: 400;
  color: #858585;
  margin-top: 20px;
}

.rating-card-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.rating-card {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 350px;
  height: 430px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.quote {
  position: relative;
  right: 110px;
}

.quoteend {
  position: relative;
  left: 110px;
}

.billboard {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rating-card p {
  color: #858585;
  text-align: justify;
}

.rate {
  margin-top: 20px;
}

.rate p {
  color: black;
}

.stars {
  width: 100px;
  margin: 20px auto 0;
  color: #f3b20c;
  font-size: 20px;
}

.btn12 {
  width: 117px;
  height: 48px;
  background-color: #ffff;
  border: 2px solid #00b4d8;
  border-radius: 5px;
  color: #00b4d8;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin: 60px 0 0;
  text-align: center;
}

.btn12:hover {
  border: 2px solid #55cde5;
}

/* FAQs design */
.faqs {
  text-align: center;
  padding: 150px 7% 0;
}

.faqs h2 {
  text-align: center;
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.faqs-text p {
  font-weight: 400;
  color: #858585;
  margin: 20px 0 40px;
}

/* Book a demo design */
.demo-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo {
  display: flex;
  background-color: #00b4d8;
  width: 912px;
  height: 136px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 15px;
}

.phone-device {
  overflow: visible;
  position: absolute;
  left: 5%;
  /* height: -10%; */
  /* z-index: 1; */
}

.device {
  width: 200px;
  /* height: 234.07px; */
}

.demo h3 {
  color: #ffff;
  font-weight: 600;
  font-size: 25px;
  margin-left: 3rem;
  font-family: "Poppins", sans-serif;
}

.see-more {
  width: 140px;
  height: 56px;
  border-radius: 5px;
  border: 1px;
  background-color: #ffff;
  color: #00b4d8;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* Our partners designs */
.partners h2 {
  text-align: center;
  padding: 0 0 36px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
  margin: 20px 70px;
  margin-top: 20px;
  /* padding: 10px; */
}

.cards {
  background-color: #ffff;
  width: 314px;
  height: 402px;
  /* padding: 25px, 0px, 25px, 0px; */
  border-radius: 20px;
  padding: 20px;
  text-align: justify;
}

.card-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.cards h4 {
  font-family: "Poppins", sans-serif;
}
.hospitals {
  width: 274px;
  height: 268px;
  border-radius: 10px;
}

.circle {
  background-color: #ffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 24px;
  margin-top: 80px;
  margin: auto;
  /* box-shadow: 2px 2px #000000; */
}

@media (max-width: 1200px) {
  /* Above header designs */
  .call-linelist {
    padding: 0 5%;
  }

  .hero-sec {
    margin: 0 5%;
  }

  .doclogo {
    width: 150px;
  }

  /* hero designs */
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* hero section left */
  .hero-text {
    width: 40%;
  }

  .hero-text p {
    font-size: 17px;
  }

  /* hero section right */
  .hero-img {
    width: 60%;
    text-align: right;
  }

  .hero-img img {
    width: 636.06px;
  }

  /* Main designs */
  .body-container {
    background-color: #f4f4f4;
  }

  /* about us designs */
  .about-us {
    padding: 150px 5% 20px;
  }

  /* about us left designs */
  .about-text {
    text-align: left;
    /* width: 464px; */
    width: 40%;
  }

  .about-text h2 {
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  .about-text p {
    margin-top: 36px;
    color: #6d6d6d;
    font-size: 17px;
    text-align: justify;
  }

  /* Benefits container designs */
  .benefit-container {
    padding: 150px 5%;
  }

  /* Rating container designs */
  .ratings-container {
    padding: 60px 5%;
  }

  .ratings-text p {
    font-size: 17px;
  }

  .rating-card-container {
    padding-bottom: 10px;
  }
  .rating-card {
    width: 350px;
    height: 430px;
  }

  .quote {
    position: relative;
    right: 110px;
  }

  .quoteend {
    position: relative;
    left: 110px;
  }

  .billboard {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .rating-card p {
    color: #858585;
    text-align: justify;
  }

  .rate {
    margin-top: 20px;
  }

  .rate p {
    color: black;
  }

  .stars {
    width: 100px;
    margin: 20px auto 0;
    color: #f3b20c;
    font-size: 20px;
  }

  .btn12 {
    width: 117px;
    height: 48px;
    background-color: #ffff;
    border: 2px solid #00b4d8;
    border-radius: 5px;
    color: #00b4d8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 60px 0 0;
    text-align: center;
  }

  .btn12:hover {
    border: 2px solid #55cde5;
  }

  /* FAQs design */
  .faqs {
    text-align: center;
    padding: 180px 2%;
  }

  .faqs h2 {
    text-align: center;
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }

  /* Book a demo design */
  .demo-container {
    position: relative;
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .demo {
    display: flex;
    background-color: #00b4d8;
    width: 912px;
    height: 136px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 15px;
  }

  .phone-device {
    overflow: visible;
    position: absolute;
    left: 5%;

    /* height: -10%; */
    /* z-index: 1; */
  }

  .device {
    width: 200px;
    /* height: 234.07px; */
  }

  .demo h3 {
    color: #ffff;
    font-weight: 600;
    font-size: 25px;
    margin-left: 3rem;
    font-family: "Poppins", sans-serif;
  }

  .see-more {
    width: 140px;
    height: 56px;
    border-radius: 5px;
    border: 1px;
    background-color: #ffff;
    color: #00b4d8;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 768px) {
  /* Above header designs */
  .call-linelist {
    padding: 0 5%;
  }
  .navlink {
    display: none;
  }
  .buttons {
    display: none;
  }
  .burger {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
  }
  
  .hero-sec {
    margin: 0 5%;
  }

  .doclogo {
    width: 150px;
  }

  /* hero designs */
  .hero-container {
    /* align-items: start; */
    justify-content: space-between;
    align-items: center;
  }

  /* hero section left */
  .hero-text {
    width: 70%;
    text-align: left;
  }
  .hero-text h1 {
    font-size: 30px;
    line-height: 43px;
  }
  .hero-text p {
    font-size: 14px;
  }
  .btn3 {
    font-size: 15px;
    width: 185px;
    height: 36px;
  }

  /* hero section right */
  .hero-img {
    width: 70%;
    text-align: right;
  }

  .hero-img img {
    width: 336.06px;
  }

  /* Main designs */

  /* about us designs */
  .about-us {
    padding: 150px 5% 20px;
    /* align-items: start; */
  }

  /* about us left designs */
  .about-text {
    text-align: left;
    /* width: 464px; */
    width: 70%;
  }

  .about-text h2 {
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  .about-text p {
    margin-top: 36px;
    color: #6d6d6d;
    font-size: 17px;
    text-align: justify;
  }

  /* about us right designs */
  .missions {
    flex-direction: column;
    /* align-items: flex-end; */
    /* justify-content: center; */
    gap: 50px;
    width: 60%;
    /* font-weight: 500px; */
  }

  /* our mission design */
  .our-mission {
    text-align: center;
    width: 70%;
  }
  .our-mission h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #0e0e0e;
  }
  .our-mission p {
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 30px;
  }

  /* our vision design */
  .our-vision {
    text-align: center;
    width: 70%;
  }
  .our-vision h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #0e0e0e;
  }
  .our-vision p {
    margin-top: 30px;
    font-size: 14px;
    color: #6d6d6d;
  }
  .miss-vision {
    width: 100px;
    height: 124px;
  }

  /* Benefits container designs */
  .benefit-container {
    padding: 150px 5%;
  }

  .benefit-cards-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
  }

  .benefit-cards {
    background-color: white;
    /* width: 312px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
  }

  /* Rating container designs */
  .ratings-container {
    padding: 60px 5%;
  }

  .ratings-text p {
    font-size: 17px;
  }

  .rating-card-container {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .rating-card {
    width: 100%;
    height: 430px;
  }

  .quote {
    position: relative;
    right: 110px;
  }

  .quoteend {
    position: relative;
    left: 110px;
  }

  .billboard {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .rating-card p {
    color: #858585;
    text-align: justify;
  }

  .rate {
    margin-top: 20px;
  }

  .rate p {
    color: black;
  }

  .stars {
    width: 100px;
    margin: 20px auto 0;
    color: #f3b20c;
    font-size: 20px;
  }

  .btn12 {
    width: 117px;
    height: 48px;
    background-color: #ffff;
    border: 2px solid #00b4d8;
    border-radius: 5px;
    color: #00b4d8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 60px 0 0;
    text-align: center;
  }

  .btn12:hover {
    border: 2px solid #55cde5;
  }

  /* FAQs design */
  .faqs {
    text-align: center;
    padding: 180px 2%;
    margin: 0 5%;
  }

  .faqs h2 {
    text-align: center;
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }

  /* Book a demo design */
  .demo-container {
    position: relative;
    width: 100%;
    /* min-height: 0px; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
  }

  .demo {
    display: flex;
    background-color: #00b4d8;
    width: 912px;
    height: 136px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 15px;
  }

  .phone-device {
    overflow: visible;
    position: absolute;
    bottom: 340px;
    left: -40px;
    /* height: -10%; */
    z-index: 1;
  }

  .device {
    width: 200px;

    position: absolute;

    /* height: 234.07px; */
  }

  .demo h3 {
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
    margin-left: 12rem;
    font-family: "Poppins", sans-serif;
  }

  .see-more {
    width: 140px;
    height: 56px;
    border-radius: 5px;
    border: 1px;
    background-color: #ffff;
    color: #00b4d8;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  /* Our partners designs */
  .partners h2 {
    text-align: center;
    padding: 0 0 36px;
    font-family: "Poppins", sans-serif;
  }

  .card-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin: 20px 70px;

    margin-top: 20px;
    /* padding: 10px; */
    padding-bottom: 10px;
  }

  .cards {
    background-color: #ffff;
    width: 100%;
    height: 402px;
    /* padding: 25px, 0px, 25px, 0px; */
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
  }

  .card-location {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  .cards h4 {
    font-family: "Poppins", sans-serif;
  }
  .hospitals {
    width: 100%;
    height: 268px;
    border-radius: 10px;
  }

  .circle {
    background-color: #ffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 24px;
    margin-top: 80px;
    margin: auto;
    /* box-shadow: 2px 2px #000000; */
  }
}
@media (max-width: 425px) {
  /* Above header designs */
  .call-linelist {
    padding: 0 5%;
    position: relative;
    flex-direction: column;
  }
  .call-p{
   font-size: 15px;
  }
  .call-a{
    font-size: 14px;
  }
  .call-b{
    font-size: 14px;
  }
  .navlink {
    display: none;
  }
  .navlink-active {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* When menu is open, show it */
  .navlink-active.show {
    display: flex;
  }

  .navlink-active li {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    width: 50%;
  }

  .buttons-active {
    /* flex-direction: column; */
    width: 80%;
    margin-left: 50px;
  }

  .navlink-active .buttons-active a button {
    width: 80%;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .buttons {
    display: none;
  }
  .burger {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
  }
  .hero-sec {
    margin: 0 5%;
  }

  .doclogo {
    width: 120px;
    z-index: 1;
  }

  /* hero designs */
  .hero-container {
    /* align-items: start; */
    flex-direction: column;
    align-items: center;
    
  }

  /* hero section left */
  .hero-text {
    width: 100%;
    text-align: left;
  
  }
  .hero-text h1 {
    font-size: 30px;
    line-height: 43px;
    /* text-align: justify; */
}
  .hero-text p {
    font-size: 12px;
  }
  .btn3 {
    font-size: 15px;
    width: 185px;
    height: 36px;
    margin: 50px auto;
  }

  /* hero section right */
  .hero-img {
    width: 100%;
    /* text-align: right; */
  }
  
  .hero-img img {
    width: 316.06px;
    margin: 0 9%;
  }

  /* Main designs */

  /* about us designs */
  .about-us {
    padding: 150px 5% 20px;
    align-items: start;
    flex-direction: column;
  }

  /* about us left designs */
  .about-text {
    text-align: left;
    /* width: 464px; */
    width: 100%;
    margin-top: -10%;
  }

  .about-text h2 {
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
  .about-text p {
    margin-top: 36px;
    color: #6d6d6d;
    font-size: 12px;
    text-align: justify;
  }

  /* about us right designs */
  .missions {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    width: 60%;
    /* font-weight: 500px; */
  }

  /* our mission design */
  .our-mission {
    text-align: center;
    width: 70%;
  }
  .our-mission h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #0e0e0e;
  }
  .our-mission p {
    font-size: 12px;
    color: #6d6d6d;
    margin-top: 30px;
  }

  /* our vision design */
  .our-vision {
    text-align: center;
    width: 70%;
  }
  .our-vision h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #0e0e0e;
  }
  .our-vision p {
    margin-top: 30px;
    font-size: 12px;
    color: #6d6d6d;
  }
  .miss-vision {
    width: 100px;
    height: 124px;
  }

  /* Benefits container designs */
  .benefit-container {
    padding: 180px 5%;
  }
.benefit-text h2{
  font-size: 25px;
}
  .benefit-cards-container {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
  }

  .benefit-cards {
    background-color: white;
    /* width: 312px; */
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 0 auto;
  }
  .benefit-cards p{
    font-size: 12px;
  }

  /* Rating container designs */
  .ratings-container {
    padding: 60px 5%;
  }

  .ratings-text p {
    font-size: 12px;
  }
.ratings-text h2{
  font-size: 28px;
}
  .rating-card-container {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto;
  }
  .rating-card {
    width: 90%;
    height: 430px;
    margin: 0 auto;
  }
.rating-card p{
  font-size: 12px;
}
  .quote {
    position: relative;
    right: 110px;
  }

  .quoteend {
    position: relative;
    left: 110px;
  }

  .billboard {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .rating-card p {
    color: #858585;
    text-align: justify;
  }

  .rate {
    margin-top: 20px;
  }

  .rate p {
    color: black;
  }

  .stars {
    width: 100px;
    margin: 20px auto 0;
    color: #f3b20c;
    font-size: 20px;
  }

  .btn12 {
    width: 106px;
    height: 45px;
    background-color: #ffff;
    border: 2px solid #00b4d8;
    border-radius: 5px;
    color: #00b4d8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5%;
    text-align: center;
  }

  .btn12:hover {
    border: 2px solid #55cde5;
  }

  /* FAQs design */
  .faqs {
    text-align: center;
    padding: 150px 2%;
    margin: 0 5%;
  }

  .faqs-text h2 {
    text-align: center;
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
.faqs-text p{
  font-size: 12px;
}
  /* Book a demo design */
  .demo-container {
    /* position: relative; */
    width: 100%;
    /* min-height: 0px; */
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
  }

  .demo {
  flex-direction: column;
    background-color: #00b4d8;
    width: 912px;
    height: 196px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
   
  }

  .phone-device {
    overflow: visible;
    position: absolute;
    bottom: 99%;
    left: 30%;
    /* height: -10%; */
    z-index: 1;
  }

  .device {
    width: 120px;

    /* position: absolute; */

    /* height: 234.07px; */
  }

  .demo h3 {
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
    margin-left: 1rem;
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .see-more {
    width: 140px;
    height: 56px;
    border-radius: 5px;
    border: 1px;
    background-color: #ffff;
    color: #00b4d8;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  /* Our partners designs */
  .partners h2 {
    text-align: center;
    padding: 0 0 36px;
    font-family: "Poppins", sans-serif;
  }

  .card-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin: 0px 5%;

    margin-top: 20px;
    /* padding: 10px; */
    padding-bottom: 10px;
  }

  .cards {
    background-color: #ffff;
    width: 90%;
    height: 402px;
    /* padding: 25px, 0px, 25px, 0px; */
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
  }

  .card-location {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
.card-location p{
  font-size: 12px;
}
  .cards h4 {
    font-family: "Poppins", sans-serif;
  }
  .hospitals {
    width: 100%;
    height: 268px;
    border-radius: 10px;
  }

  .circle {
    background-color: #ffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 24px;
    margin-top: 80px;
    margin: auto;
    /* box-shadow: 2px 2px #000000; */
  }
}
