* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  background-color: #f4f4f4;
}

.call-linelist {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.call-linelist p {
  margin-top: 20px;
  list-style: none;
  color: white;
  /* background-color: #0e0e0e; */
  /* display: flex; */
}

.phone {
  margin-top: -40px;
  margin-right: 10px;
}
.hero-section {
  /* background-color: #dcf9ff; */
  margin-top: 50px;
}
.hero-sec {
  margin: 0px 70px;
}
.doclogo {
  width: 150px;
  /* height: 48px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  color: #6d6d6d;
  position: sticky;
  top: 0px;
  z-index: 1000;
  /* padding: 0px 70px; */
}

.navlink {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navlink li {
  list-style: none;
}
.btn1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 87px;
  height: 38px;
  text-align: center;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn1:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.btn2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 87px;
  font-size: 16px;
  height: 38px;
  text-align: center;
  border: 2px solid #00b4d8;
  background-color: #ffff;
  color: #00b4d8;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover {
  border: 2px solid #55cde5;
  color: #55cde5;
  transition: 0.3s ease-in-out;
}
.buttons {
  display: flex;
  gap: 10px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 56.2px;
  color: #003c48;
  /* text-align: justify; */
}
.hero-text {
  padding: 40px;
  width: 505px;
  height: 411px;
}
.hero-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  color: #6d6d6d;
  text-align: justify;
}
.btn3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 225px;
  height: 56px;
  border: none;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  /* border: 2px solid #00b4d8; */
  border-radius: 5px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn3:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.arrow {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.hero-img img {
  width: 636.06px;
  margin-right: 10px;
}
/* .hero {
    margin: 100px;
  } */

.body-container {
  background-color: #f4f4f4;
}
.bodytexts {
  text-align: center;
  padding: 36px;
}
.body-text {
  margin-top: 36px;
  font-family: "Poppins", sans-serif;
  color: #00242b;
  font-size: 32px;
  font-weight: 600;
}
.bodytexts p {
  margin-top: 36px;
  color: #6d6d6d;
}
.card-container {
  display: flex;
  gap: 52px;
  margin: 20px 70px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}
.cards {
  background-color: #ffff;
  width: 314px;
  height: 402px;
  /* padding: 25px, 0px, 25px, 0px; */
  border-radius: 20px;
  padding: 20px;
  text-align: justify;
}
.card-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.cards h4 {
  font-family: "Poppins", sans-serif;
}
.hospitals {
  width: 274px;
  height: 268px;
  border-radius: 10px;
}

.circle {
  background-color: #ffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 24px;
  margin-top: 80px;
  margin: auto;
  /* box-shadow: 2px 2px #000000; */
}
.demo {
  display: flex;
  background-color: #00b4d8;
  width: 912px;
  height: 136px;
  align-items: center;
  justify-content: space-between;
  /* max-width: 50%; */
  margin: auto;
  margin-top: 170px;
  border-radius: 15px;
  padding: 20px;
}
.demo h3 {
  color: #ffff;
  font-weight: 600;
  font-size: 25px;
  margin-left: -320px;
  font-family: "Poppins", sans-serif;
}
.see-more {
  width: 140px;
  height: 56px;
  border-radius: 5px;
  border: 1px;
  background-color: #ffff;
  color: #00b4d8;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.arrow-down {
  color: #00b4d8;
  font-size: 21px;
}

.about-us {
  /* background-color: #dcf9ff; */
  background-image: url("./assets/aboutusbg.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  height: 808px;
  /* opacity: 60%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 60px; */
  padding: 0 100px;
  /* margin-right: 30px; */
}
.about-text {
  text-align: left;
  width: 464px;
  /* height: 243px; */
}
.about-text h3 {
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.about-text p {
  margin-top: 36px;
  color: #6d6d6d;
  font-size: 16px;
}

.missions {
  display: flex;
  padding: 40px;
  gap: 90px;
  margin-left: 70px;
  margin-top: 30px;
  width: 773px;
  height: 367px;
}

.our-mission {
  text-align: center;
  width: 314px;
}
.our-mission h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-mission p {
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
  margin-top: 30px;
}
.our-vision {
  text-align: center;
}
.our-vision h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-vision p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
}
.miss-vision {
  width: 112px;
  height: 144px;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 70px;
  padding: 40px;
}
.rev-img {
  width: 526px;
  /* height: 655.62px; */
  /* margin-top: 30px; */
}

.review-text h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #00242b;
  line-height: 48px;
}
.review-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 40px;
  color: #6d6d6d;
}

.read-more {
  width: 129px;
  height: 48px;
  border-radius: 5px;
  background-color: #00b4d8;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
}
.read-more:hover {
  background-color: #55cde5;
}

.benefit-container {
  padding: 0 100px;
  margin-top: 150px;
}
.benefit-text h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.benefit-cards-container {
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.benefit-cards {
  background-color: white;
  width: 312px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 462px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

  padding: 20px;
}
.benefit-cards img {
  margin: 0 auto;
}

.benefit-cards h3 {
  margin-top: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.benefit-cards p {
  margin-top: 20px;
  text-align: center;
}
.ratings-container {
  margin-top: 150px;
  padding: 60px 100px;
  background-color: #ccf0f7;
}
.ratings-text {
  text-align: center;
}
.rating-card-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.rating-card {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 370px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.rating-card p {
  color: #858585;
}
.billboard {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn12:hover {
  border: 2px solid #55cde5;
}
.btn12 {
  width: 117px;
  height: 48px;
  background-color: #ffff;
  border: 2px solid #00b4d8;
  border-radius: 5px;
  color: #00b4d8;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-left: 520px;
  margin-top: 60px;
}

.ratings-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.ratings-text p {
  font-weight: 400;
  color: #858585;
  margin-top: 20px;
}
.rate {
  margin-top: 20px;
}
.rate p {
  color: black;
}
.faqs {
  text-align: center;
  margin-top: 150px;
}
.faqs h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.faqs-text p {
  font-weight: 400;
  color: #858585;
  margin-top: 20px;
}

.quoteend {
  position: relative;
  left: 140px;
}
.quote {
  position: relative;
  right: 140px;
}
.device {
  position: relative;
  right: 100px;
}
/* From Uiverse.io by vinodjangid07 */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 20px;
  /* height: 30px; */
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #858585;
  border-radius: 5px;
  transition-duration: 0.3s;
}

/* #checkbox:checked + .toggle .bars {
  margin-left: 13px;
} */

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}
/* #checkbox:checked + .toggle #bar3 {
  transform: rotate(90deg);
  transition-duration: .3s;
  transform-origin:right;
} */
@media only screen and (min-width: 2560px) {
  .hero-container {
    margin: 0 500px;
  }
  .body-container {
    margin: 0 500px;
  }
  .about-us {
    /* background-color: #dcf9ff; */
    background-image: url("./assets/aboutusbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .call-linelist {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .call-p {
    position: relative;
    bottom: 30px;
    right: -120px;
    font-size: 12px;
  }
  .call-a {
    position: relative;
    bottom: 5px;
    right: 140px;
    font-size: 10px;
  }
  .call-b {
    position: relative;
    bottom: 5px;
    left: -70px;
    font-size: 10px;
  }
  .phone {
    margin-top: -40px;
    margin-right: 10px;
  }
  .navlink {
    display: none;
  }

  .navlink-active {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    right: 250px;
    width: 70%;
    height: 100%;
    z-index: -999; /* Ensure it's above other content */
    padding: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Off-screen by default */
  }
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    right: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.3s;
  }

  .navlink-active.show {
    transform: translateX(0%); /* Slide in when active */
  }
  .navlink-active li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    top: 150px;
  }
  .buttons-active {
    /* margin-bottom: 20px; */
    position: relative;
    top: 150px;
  }
  .buttons {
    display: none;
  }
  .hero-sec {
    margin: 0px;
  }
  .hero-container {
    flex-direction: column;
   position: relative;
   right: 220px;
  }

  .hero-img img {
    width: 380.06px;
    margin-top: 0px;
    position: relative;
    left: 20px;
  }
  .hero-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #003c48;
    text-align: left;
    width: 328px;
  }
  .hero-text {
    padding: 40px;
    width: 328px;
  }
  .hero-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 22px;
    color: #6d6d6d;
    text-align: left;
    /* text-align: justify; */
  }
  .missions {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 40px;
    position: relative;
    width: 328px;
    right: 60px;
    bottom: 150px;
  }
  .missions p {
    font-size: 14px;
  }
  .missions h4 {
    font-size: 20px;
  }
  .about-us {
    flex-direction: column;
    background-size: cover;
    width: 488px;
  }
  .about-text {
    width: 328px;
    position: relative;
    right: 10px;
  }
  .about-text h3 {
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .about-text p {
    margin-top: 16px;
    color: #6d6d6d;
    font-size: 14px;
  }
  .miss-vision {
    width: 51.34px;
    height: 71.34px;
  }
  .benefit-text {
    position: relative;
    right: 150px;
  }
  .benefit-cards-container {
    flex-direction: column;
    position: relative;
    right: 150px;
  }
  .ratings-text {
    position: relative;
    right: 1px;
  }
  .ratings-text h2 {
    font-size: 20px;
  }
  .ratings-container {
    width: 488px;
  }
  .ratings-text p {
    font-size: 14px;
  }
  .rating-card-container {
    flex-direction: column;
    position: relative;
    right: 1px;
  }
  .btn12 {
    width: 117px;
    height: 48px;
    background-color: #ffff;
    border: 2px solid #00b4d8;
    border-radius: 5px;
    color: #00b4d8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
   position: relative;
   right: 420px;
  }
  .card-container {
    flex-direction: column;
    position: relative;
    right: 150px;
  }
  .faqs-text h2 {
    font-size: 20px;
  }
  .faqs {
    width: 460px;
  }
  .faqs-text {
    position: relative;
    right: 1px;
  }
  .faqs-text p {
    font-size: 14px;
  }
  .demo {
    width: 313px;
    height: 203px;
    flex-direction: column;
    position: relative;
    right: 150px;
  }
  .demo h3 {
    font-size: 18px;
    margin-top: -120px;
    margin-left: 30px;
  }
  .device {
    position: relative;
    bottom: 100px;
    right: 0px;
    width: 138.16px;
    height: 154px;
  }
  .bodytexts {
    width: 460px;
  }
  .bodytexts h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 425px) {
  .call-linelist {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .call-p {
    position: relative;
    bottom: 30px;
    right: -120px;
    font-size: 10px;
  }
  .call-a {
    position: relative;
    bottom: 5px;
    right: 140px;
    font-size: 10px;
  }
  .call-b {
    position: relative;
    bottom: 5px;
    left: -70px;
    font-size: 10px;
  }

  .doclogo {
    width: 100px;
    height: 27px;
    position: fixed;
  }
  .phone {
    margin-top: -40px;
    margin-right: 10px;
  }
  .navlink {
    display: none;
  }

  .navlink-active {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    z-index: -999; /* Ensure it's above other content */
    padding: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Off-screen by default */
  }
  .toggle {
    position: fixed;
    width: 40px;
    /* height: 30px; */
    right: 270px;
    top: 90px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.3s;
  }

  .navlink-active.show {
    transform: translateX(0%); /* Slide in when active */
  }
  .navlink-active li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    top: 150px;
  }
  .buttons-active {
    /* margin-bottom: 20px; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 150px;
  }
  .buttons {
    display: none;
  }
  .hero-sec {
    margin: 0px;
  }
  .hero-container {
    flex-direction: column;
    position: relative;
   left: 20px;
  }

  .hero-img img {
    width: 350.06px;
    margin-top: -60px;
    position: relative;
    left: -20px;
  }
  .hero-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #003c48;
    text-align: left;
    width: 328px;
    line-height: 50px;
  }
  .hero-text {
    /* padding: 40px;  */
    width: 460px;
    position: relative;
    right: 10px;
  }
  .hero-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 22px;
    color: #6d6d6d;
    text-align: left;
    /* text-align: justify; */
  }
  .btn3 {
    width: 176px;
    height: 38px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
  }
  .missions {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 40px;
    position: relative;
    width: 328px;
  }
  .missions p {
    font-size: 14px;
  }
  .missions h4 {
    font-size: 20px;
  }
  .about-us {
    flex-direction: column;
    background-size: cover;
    width: 460px;
    position: relative;
    right: 20px;
    /* margin: 0 auto; */
  }
  .about-text {
    width: 328px;
    /* margin: 0 0px; */
  }
  .about-text h3 {
    color: #00242b;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .about-text p {
    margin-top: 16px;
    color: #6d6d6d;
    font-size: 14px;
  }
  .miss-vision {
    width: 51.34px;
    height: 71.34px;
  }
  .benefit-text {
    position: relative;
    right: 10px;
    text-align: center;
  }
  .benefit-cards-container {
    flex-direction: column;
    position: relative;
    right: 1px;
  }
  .benefit-cards {
    width: 328px;
  }

  .rating-card {
    width: 325px;
  }
  .ratings-text {
    position: relative;
    right: 10px;
  }
  .ratings-text h2 {
    font-size: 20px;
    text-align: center;
  }
  .ratings-container {
    width: 460px;
  }
  .ratings-text p {
    font-size: 14px;
  }
  .rating-card-container {
    flex-direction: column;
    position: relative;
    right: 20px;
  }
  .btn12 {
    width: 117px;
    height: 48px;
    background-color: #ffff;
    border: 2px solid #00b4d8;
    border-radius: 5px;
    color: #00b4d8;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 60px;
  }
  .card-container {
    flex-direction: column;
    position: relative;
    right: 10px;
  }
  .faqs-text h2 {
    font-size: 20px;
  }
  .faqs {
    width: 390px;
    margin: 0 auto;
  }
  .faqs-text {
    position: relative;
    right: 10px;
    margin-top: 150px;
  }
  .faqs-text p {
    font-size: 14px;
  }
  .demo {
    width: 313px;
    height: 203px;
    flex-direction: column;
    position: relative;
    right: 10px;
  }
  .demo h3 {
    font-size: 18px;
    margin-top: -120px;
    margin-left: 30px;
  }
  .device {
    position: relative;
    bottom: 100px;
    right: 0px;
    width: 138.16px;
    height: 154px;
  }
  .bodytexts {
    width: 460px;
  }
  .bodytexts h2 {
    font-size: 20px;
  }
}
