* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  background-color: #f4f4f4;
}
.call-linelist {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #6d6d6d;
}
.call-linelist li {
  margin-top: -40px;
  list-style: none;
}
.phone {
  margin-top: -40px;
}
.hero-section {
  background-color: #dcf9ff;
  margin-top: 50px;
}
.hero-sec {
  margin: 0px 70px;
}
.doclogo {
  width: 150px;
  /* height: 48px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  color: #6d6d6d;
  /* padding: 0px 70px; */
}

.navlink {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navlink li {
  list-style: none;
}
.btn1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 87px;
  height: 38px;
  text-align: center;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn1:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.btn2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 87px;
  font-size: 16px;
  height: 38px;
  text-align: center;
  border: 2px solid #00b4d8;
  background-color: #ffff;
  color: #00b4d8;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover {
  border: 2px solid #55cde5;
  color: #55cde5;
  transition: 0.3s ease-in-out;
}
.buttons {
  display: flex;
  gap: 10px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 56.2px;
  color: #003c48;
  text-align: justify;
}
.hero-text {
  padding: 40px;
  /* width: 505px; */
  height: 411px;
}
.hero-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  color: #6d6d6d;
  text-align: justify;
}
.btn3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 225px;
  height: 56px;
  border: none;
  background-color: #00b4d8;
  color: #ffff;
  cursor: pointer;
  /* border: 2px solid #00b4d8; */
  border-radius: 5px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn3:hover {
  background-color: #55cde5;
  color: #ffff;
  transition: 0.3s ease-in-out;
}
.arrow {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.hero-img img {
  width: 636.06px;
  margin-right: 10px;
}
/* .hero {
    margin: 100px;
  } */

.body-container {
  background-color: #f4f4f4;
}
.bodytexts {
  text-align: center;
  padding: 36px;
}
.body-text {
  margin-top: 36px;
  font-family: "Poppins", sans-serif;
  color: #00242b;
  font-size: 32px;
  font-weight: 600;
}
.bodytexts p {
  margin-top: 36px;
  color: #6d6d6d;
}
.card-container {
  display: flex;
  gap: 52px;
  margin: 20px 70px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}
.cards {
  background-color: #ffff;
  width: 314px;
  height: 402px;
  /* padding: 25px, 0px, 25px, 0px; */
  border-radius: 20px;
  padding: 20px;
  text-align: justify;
}
.card-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.cards h4 {
  font-family: "Poppins", sans-serif;
}
.hospitals {
  width: 274px;
  height: 268px;
  border-radius: 10px;
}

.circle {
  background-color: #ffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 24px;
  margin-top: 80px;
  margin: auto;
  /* box-shadow: 2px 2px #000000; */
}
.demo {
  display: flex;
  background-color: #00b4d8;
  /* width: 879px; */
  height: 112px;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  margin: auto;
  margin-top: 70px;
  border-radius: 15px;
  padding: 20px;
}
.demo h3 {
  color: #ffff;
  font-weight: 600;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.see-more {
  width: 140px;
  height: 56px;
  border-radius: 5px;
  border: 1px;
  background-color: #ffff;
  color: #00b4d8;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.arrow-down {
  color: #00b4d8;
  font-size: 21px;
}

.about-us {
  background-color: #dcf9ff;
  /* opacity: 60%; */
  margin-top: 60px;
  padding: 80px;
}
.about-text {
  text-align: center;
}
.about-text h3 {
  color: #00242b;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.about-text p {
  margin-top: 36px;
  color: #6d6d6d;
}

.missions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 30px;
}

.our-mission {
  text-align: center;
}
.our-mission h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-mission p {
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
  margin-top: 30px;
}
.our-vision {
  text-align: center;
}
.our-vision h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #0e0e0e;
}
.our-vision p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
}
.miss-vision {
  width: 112px;
  height: 144px;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 70px;
  padding: 40px;
}
.rev-img {
  width: 526px;
  /* height: 655.62px; */
  /* margin-top: 30px; */
}

.review-text h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #00242b;
  line-height: 48px;
}
.review-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 40px;
  color: #6d6d6d;
}

.read-more {
  width: 129px;
  height: 48px;
  border-radius: 5px;
  background-color: #00b4d8;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
}
.read-more:hover {
  background-color: #55cde5;
}
